<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://gos-medias.goschainccap.com/upload/1565829695158_2106876157.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://gos-medias.goschainccap.com/upload/1565833129811_-1532360776.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://gos-medias.goschainccap.com/upload/1565833126445_171124110.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.GOS.GOSUN</string>
				<key>bundle-version</key>
				<string>1.5.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>国金公链</string>
			</dict>
		</dict>
	</array>
</dict>
<!-- http://images.goschain.cn/images/front/GOS_UN.apk -->
<!-- http://39.96.173.27/images/front/gos_IOS.ipa-->
</plist>
